body{
   background-color: linear-gradient(to right,#f0eafc, #c9d6ff);
   font-family: 'playfair Display', serif;
   margin: 20px;
   padding: 10px;
   
   max-width: 90vw;
   margin: 0 auto;
}
h1{
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
    
}
p{
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 1em;
    padding: 10px;
}
p,ul, ol{
    margin-bottom: 1.2em;
}
img{
border-radius: 15px;
 box-shadow: 0 4px 8px rgb(0, 0,0,0.2);
 max-width: 100%;
 height: auto;
 display: block;
 margin: 0 auto 10px auto;
}
button{
    display: inline;
    padding: 10px 20px;
    background-color: #7f5af0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #333;
    color: white;
}
a{
    color: #5a2a83;
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover{
    color: #9b59b6;
    text-decoration: underline;
}
.fun-fact{
    background-color: #f9f0ff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0, 0,0,0.05);
    margin-top: 20px;
}
footer{
    background-color: #7f5af0;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
}


figcaption{
    position: relative;
    top: 5px;
    left: 10px;
    color: #555;
    margin-top: 10px;
    font-size: 0.9em;
text-align: center;
}
.bio-section{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 40px 20px;
    flex-wrap: wrap;
}
.bio-figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.bio-img{
    
    width: 220px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(0,0,0.2);
}
.bio-text{

    font-size: 1.0em;
    line-height: 1.6;
}
button:focus{
    outline: 2px solid red;
}
table{
    
width: 100%;
margin: 20px auto;
border-collapse: collapse;
box-decoration-break: rgb(0,0,0,0.1);
}
th,td{
    border: 1px solid #ccc;
    padding: 10px 14px;
    text-align: center;
}
thead{
    background-color: #f2f2f2;
}
tbody tr:hover{
    background-color:   #f9f0ff;
    cursor: pointer;
}
form{
    background-color: #f9f0ff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(0,0,0,0.1);
    max-width: 500px;
    margin: 0 auto;
    margin-left: 40px;
}
form label{
    display: block;
    margin-bottom: 6px;

}
